.login-teste{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  min-height: 100vh;

}

.login-container {
  width: 400px;
  height: 500px;
  padding: 3rem; 
  text-align: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 280px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-message {
  font-size: larger;
  margin-top: 40%;
}

.sign-in-button {
  background-color: #0878e9;
  color: white;
  border: none;
  height: 2.5rem;
  justify-content: center;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 3rem;
  width: 100%;
}

.sign-in-button:hover {
  background-color: rgb(13, 102, 190);
}
